li{
    list-style: none;
}

.menu{
    display: flex;
}

.option{
    font-size: 16px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 100%;
    min-width: 120px;

    padding: 0 5px;
    cursor: pointer;
}